In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.svm import SVC, LinearSVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn import preprocessing

C:\Users\Prajakta\anaconda3\lib\site-packages\scipy\__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.25.0 is required for this version of SciPy (detected version 1.26.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df = pd.read_csv('churn_modelling.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [4]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
df.drop(columns=['RowNumber', 'CustomerId', 'Surname'], inplace=True)

In [6]:
df.isna().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [7]:
df.describe()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [8]:
X=df.iloc[:, :df.shape[1]-1].values       #Independent Variables
y=df.iloc[:, -1].values                   #Dependent Variable
X.shape, y.shape

((10000, 10), (10000,))

In [10]:
print(X[:8,1], '... will now become: ')

label_X_country_encoder = LabelEncoder()
X[:,1] = label_X_country_encoder.fit_transform(X[:,1])
print(X[:8,1])

['France' 'Spain' 'France' 'France' 'Spain' 'Spain' 'France' 'Germany'] ... will now become:
[0 2 0 0 2 2 0 1]

In [11]:
print(X[:6,2], '... will now become: ')

label_X_gender_encoder = LabelEncoder()
X[:,2] = label_X_gender_encoder.fit_transform(X[:,2])
print(X[:6,2])

['Female' 'Female' 'Female' 'Female' 'Female' 'Male'] ... will now become:
[0 0 0 0 0 1]

In [12]:
transform = ColumnTransformer([("countries", OneHotEncoder(), [1])], remainder="passthrough") # 1 is the country column
X = transform.fit_transform(X)
X

array([[1.0, 0.0, 0.0, ..., 1, 1, 101348.88],
       [0.0, 0.0, 1.0, ..., 0, 1, 112542.58],
       [1.0, 0.0, 0.0, ..., 1, 0, 113931.57],
       ...,
       [1.0, 0.0, 0.0, ..., 0, 1, 42085.58],
       [0.0, 1.0, 0.0, ..., 1, 0, 92888.52],
       [1.0, 0.0, 0.0, ..., 1, 0, 38190.78]], dtype=object)

In [13]:
X = X[:,1:]
X.shape

(10000, 11)

In [14]:
print(X)

[[0.0 0.0 619 ... 1 1 101348.88]
 [0.0 1.0 608 ... 0 1 112542.58]
 [0.0 0.0 502 ... 1 0 113931.57]
 ...
 [0.0 0.0 709 ... 0 1 42085.58]
 [1.0 0.0 772 ... 1 0 92888.52]
 [0.0 0.0 792 ... 1 0 38190.78]]

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [16]:
['CreditScore','Age','Tenure','Balance','NumOfProducts','EstimatedSalary']

['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'EstimatedSalary']

In [17]:
sc=StandardScaler()
X_train[:,np.array([2,4,5,6,7,10])] = sc.fit_transform(X_train[:,np.array([2,4,5,6,7,10])])
X_test[:,np.array([2,4,5,6,7,10])] = sc.transform(X_test[:,np.array([2,4,5,6,7,10])])

In [18]:
sc=StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
X_train

array([[-0.5698444 ,  1.74309049,  0.16958176, ...,  0.64259497,
        -1.03227043,  1.10643166],
       [ 1.75486502, -0.57369368, -2.30455945, ...,  0.64259497,
         0.9687384 , -0.74866447],
       [-0.5698444 , -0.57369368, -1.19119591, ...,  0.64259497,
        -1.03227043,  1.48533467],
       ...,
       [-0.5698444 , -0.57369368,  0.9015152 , ...,  0.64259497,
        -1.03227043,  1.41231994],
       [-0.5698444 ,  1.74309049, -0.62420521, ...,  0.64259497,
         0.9687384 ,  0.84432121],
       [ 1.75486502, -0.57369368, -0.28401079, ...,  0.64259497,
        -1.03227043,  0.32472465]])

In [19]:
pip install tensorflow

Collecting tensorflow
  Using cached tensorflow-2.14.0-cp39-cp39-win_amd64.whl (2.1 kB)
Collecting tensorflow-intel==2.14.0
  Using cached tensorflow_intel-2.14.0-cp39-cp39-win_amd64.whl (284.1 MB)
Requirement already satisfied: tensorboard<2.15,>=2.14 in c:\users\prajakta\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.14.1)
Requirement already satisfied: setuptools in c:\users\prajakta\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (63.4.1)
Requirement already satisfied: ml-dtypes==0.2.0 in c:\users\prajakta\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (0.2.0)
Requirement already satisfied: h5py>=2.9.0 in c:\users\prajakta\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (3.7.0)
Requirement already satisfied: six>=1.12.0 in c:\users\prajakta\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.16.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\prajakta\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.59.2)
Requirement already satisfied: numpy>=1.23.5 in c:\users\prajakta\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.26.1)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\prajakta\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (0.5.4)
Requirement already satisfied: libclang>=13.0.0 in c:\users\prajakta\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (16.0.6)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\prajakta\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.3.0)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\prajakta\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.0.0)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\prajakta\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (3.3.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\prajakta\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.6.3)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\prajakta\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (0.2.0)
Requirement already satisfied: keras<2.15,>=2.14.0 in c:\users\prajakta\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.14.0)
Requirement already satisfied: packaging in c:\users\prajakta\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (21.3)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in c:\users\prajakta\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (4.25.0)
Requirement already satisfied: flatbuffers>=23.5.26 in c:\users\prajakta\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (23.5.26)
Requirement already satisfied: tensorflow-estimator<2.15,>=2.14.0 in c:\users\prajakta\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (2.14.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\prajakta\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (4.3.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\prajakta\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (0.31.0)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in c:\users\prajakta\anaconda3\lib\site-packages (from tensorflow-intel==2.14.0->tensorflow) (1.14.1)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\prajakta\anaconda3\lib\site-packages (from astunparse>=1.6.0->tensorflow-intel==2.14.0->tensorflow) (0.37.1)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\prajakta\anaconda3\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\prajakta\anaconda3\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.0.3)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\prajakta\anaconda3\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.28.1)
Requirement already satisfied: markdown>=2.6.8 in c:\users\prajakta\anaconda3\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (3.3.4)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in c:\users\prajakta\anaconda3\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (1.0.0)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\prajakta\anaconda3\lib\site-packages (from tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.23.4)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\prajakta\anaconda3\lib\site-packages (from packaging->tensorflow-intel==2.14.0->tensorflow) (3.0.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\prajakta\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (0.2.8)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\prajakta\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (5.3.2)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\prajakta\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\prajakta\anaconda3\lib\site-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (1.3.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\prajakta\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\prajakta\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2022.9.14)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\prajakta\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\prajakta\anaconda3\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (2.0.4)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\prajakta\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\prajakta\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.15,>=2.14->tensorflow-intel==2.14.0->tensorflow) (3.2.2)
Installing collected packages: tensorflow-intel, tensorflow
Successfully installed tensorflow-2.14.0 tensorflow-intel-2.14.0
Note: you may need to restart the kernel to use updated packages.

In [20]:
from tensorflow.keras.models import Sequential

# Initializing the ANN
classifier = Sequential()

In [22]:
from tensorflow.keras.layers import Dense
classifier.add(Dense(activation = 'relu', input_dim = 11, units=256, kernel_initializer='uniform'))

In [23]:
classifier.add(Dense(activation = 'relu', units=512, kernel_initializer='uniform'))
classifier.add(Dense(activation = 'relu', units=256, kernel_initializer='uniform'))
classifier.add(Dense(activation = 'relu', units=128, kernel_initializer='uniform'))

In [24]:
classifier.add(Dense(activation = 'sigmoid', units=1, kernel_initializer='uniform'))

In [25]:
classifier.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [26]:
classifier.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 256)               3072

 dense_1 (Dense)             (None, 256)               65792

 dense_2 (Dense)             (None, 512)               131584

 dense_3 (Dense)             (None, 256)               131328

 dense_4 (Dense)             (None, 128)               32896

 dense_5 (Dense)             (None, 1)                 129

=================================================================
Total params: 364801 (1.39 MB)
Trainable params: 364801 (1.39 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [27]:
classifier.fit(
    X_train, y_train,           
    validation_data=(X_test,y_test),
    epochs=20,
    batch_size=32
)

Epoch 1/20
250/250 [==============================] - 6s 13ms/step - loss: 0.4353 - accuracy: 0.8155 - val_loss: 0.3779 - val_accuracy: 0.8430
Epoch 2/20
250/250 [==============================] - 3s 11ms/step - loss: 0.3627 - accuracy: 0.8514 - val_loss: 0.3539 - val_accuracy: 0.8615
Epoch 3/20
250/250 [==============================] - 3s 11ms/step - loss: 0.3492 - accuracy: 0.8576 - val_loss: 0.3439 - val_accuracy: 0.8555
Epoch 4/20
250/250 [==============================] - 3s 11ms/step - loss: 0.3465 - accuracy: 0.8585 - val_loss: 0.3588 - val_accuracy: 0.8585
Epoch 5/20
250/250 [==============================] - 3s 11ms/step - loss: 0.3393 - accuracy: 0.8625 - val_loss: 0.3371 - val_accuracy: 0.8655
Epoch 6/20
250/250 [==============================] - 3s 11ms/step - loss: 0.3364 - accuracy: 0.8610 - val_loss: 0.3403 - val_accuracy: 0.8610
Epoch 7/20
250/250 [==============================] - 3s 11ms/step - loss: 0.3329 - accuracy: 0.8641 - val_loss: 0.3406 - val_accuracy: 0.8645
Epoch 8/20
250/250 [==============================] - 3s 11ms/step - loss: 0.3326 - accuracy: 0.8665 - val_loss: 0.3469 - val_accuracy: 0.8615
Epoch 9/20
250/250 [==============================] - 3s 11ms/step - loss: 0.3267 - accuracy: 0.8685 - val_loss: 0.3536 - val_accuracy: 0.8585
Epoch 10/20
250/250 [==============================] - 3s 11ms/step - loss: 0.3240 - accuracy: 0.8694 - val_loss: 0.3629 - val_accuracy: 0.8560
Epoch 11/20
250/250 [==============================] - 3s 11ms/step - loss: 0.3206 - accuracy: 0.8714 - val_loss: 0.3460 - val_accuracy: 0.8575
Epoch 12/20
250/250 [==============================] - 3s 11ms/step - loss: 0.3158 - accuracy: 0.8715 - val_loss: 0.3479 - val_accuracy: 0.8490
Epoch 13/20
250/250 [==============================] - 3s 11ms/step - loss: 0.3132 - accuracy: 0.8731 - val_loss: 0.3436 - val_accuracy: 0.8550
Epoch 14/20
250/250 [==============================] - 3s 11ms/step - loss: 0.3096 - accuracy: 0.8749 - val_loss: 0.3544 - val_accuracy: 0.8550
Epoch 15/20
250/250 [==============================] - 3s 11ms/step - loss: 0.3098 - accuracy: 0.8741 - val_loss: 0.3484 - val_accuracy: 0.8520
Epoch 16/20
250/250 [==============================] - 3s 11ms/step - loss: 0.2976 - accuracy: 0.8794 - val_loss: 0.3597 - val_accuracy: 0.8590
Epoch 17/20
250/250 [==============================] - 3s 11ms/step - loss: 0.2957 - accuracy: 0.8802 - val_loss: 0.3634 - val_accuracy: 0.8520
Epoch 18/20
250/250 [==============================] - 3s 11ms/step - loss: 0.2916 - accuracy: 0.8840 - val_loss: 0.3669 - val_accuracy: 0.8610
Epoch 19/20
250/250 [==============================] - 3s 11ms/step - loss: 0.2843 - accuracy: 0.8856 - val_loss: 0.3558 - val_accuracy: 0.8545
Epoch 20/20
250/250 [==============================] - 3s 11ms/step - loss: 0.2795 - accuracy: 0.8842 - val_loss: 0.3737 - val_accuracy: 0.8565

In [28]:
y_pred = classifier.predict(X_test)
y_pred

63/63 [==============================] - 1s 5ms/step

array([[0.36912245],
       [0.1093934 ],
       [0.08619765],
       ...,
       [0.01229102],
       [0.30513743],
       [0.13464576]], dtype=float32)

In [29]:
y_pred = (y_pred > 0.5)
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [30]:
from sklearn.metrics import confusion_matrix,classification_report

cm1 = confusion_matrix(y_test, y_pred)
cm1

array([[1501,   94],
       [ 193,  212]], dtype=int64)

In [31]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.89      0.94      0.91      1595
           1       0.69      0.52      0.60       405

    accuracy                           0.86      2000
   macro avg       0.79      0.73      0.75      2000
weighted avg       0.85      0.86      0.85      2000

In [32]:
accuracy_model1 = ((cm1[0][0]+cm1[1][1])*100)/(cm1[0][0]+cm1[1][1]+cm1[0][1]+cm1[1][0])
print (accuracy_model1, '% of testing data was classified correctly')

85.65 % of testing data was classified correctly